/* External */
*{
    padding: 0px;
    margin: 0px;
    /* box-sizing: border-box; */
    
}

body{
    height: 100vh;
    width: 100vw;
    /* background-color:rgb(66, 161, 131); */
    /* overflow: hidden; */
}




/* .first_container .second-container{
    width: 500px;
    height: 400px;
} */

.first_container {

display: flex;
width: 100%;
     
    
}
.second_container {
display: flex;
width: 100%;
/* position: relative; */
}

.one{
    font-size: 20px;
      background-color: blueviolet;
      width: 52%;
      height: 300px;
      
}
.two{
    font-size: 40px;
      background-color: rgb(187, 182, 192);
          width: 48%;
          height: 300px;
}
.three{
    font-size: 50px;
      background-color: rgb(20, 136, 124);
          width: 48%;
          height: 300px;
}
.four{
    font-size: 60px;
      background-color: rgb(72, 85, 97);
          width: 52%;
          height: 330px;
        position: absolute;
        right: 0;
        /* top:-30px; */
        bottom:180px;
}
